
/node_modules
/coverage
/.next/
/out/
*.tsbuildinfo
next-env.d.ts
/test-results/
/playwright-report/
/playwright/.cache/
build-storybook.log

.vercel
.env
.yarn
cypress/screenshots/*
cypress/videos/*

.pnp.cjs
.pnp.loader.mjs
